<% content_for :title do %>
  Showing <%= @document.title %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Checklist Order:</strong>
  <%= @document.checklist_id %>
</p>

<p>
  <strong>File:</strong>
  <% if @document.path.nil? %>
    <%= @document.status %>
  <% else %>
    <%= link_to 'PDF', @document.web_path %>
  <% end %>
</p>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', shipment_path(@document.shipment) %>
